@page "/edit_matiere/{matiereId}"
@using Microsoft.AspNetCore.Components.Forms
@using static CarnApprenti.LivretApprentissageContext
@inject DatabaseService DatabaseService
@inject NavigationManager Navigation

<button class="btn btn-secondary" @onclick="GoBack">← Retour</button>

<h3 class="text-center mb-4">Modifier une Matière</h3>

@if (matiereToEdit == null)
{
    <p class="text-center">Matière non trouvée ou en cours de chargement...</p>
}
else
{
    <EditForm Model="matiereToEdit" OnValidSubmit="HandleEditMatiere">
        <DataAnnotationsValidator />
        <ValidationSummary class="text-danger mb-3" />

        <div class="mb-4">
            <label for="matiereNom" class="form-label">Nom de la matière</label>
            <InputText id="matiereNom" class="form-control" @bind-Value="matiereToEdit.Nom" placeholder="Entrez le nom de la matière" />
        </div>

        <div class="mb-4">
            <label for="formateurId" class="form-label">Formateur</label>
            <InputSelect id="formateurId" class="form-control" @bind-Value="matiereToEdit.FormateurId">
                <option value="">Sélectionnez un formateur</option>
                @foreach (var formateur in formateurs)
                {
                    <option value="@formateur.Id">@formateur.Nom @formateur.Prenom</option>
                }
            </InputSelect>
        </div>

        <div class="d-flex justify-content-center mb-4">
            <button type="submit" class="btn btn-primary btn-lg">Modifier la Matière</button>
        </div>
    </EditForm>
}

@code {
    [Parameter] public string matiereId { get; set; }

    private Matiere matiereToEdit;
    private List<Formateur> formateurs;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            matiereToEdit = await DatabaseService.GetMatiereByIdAsync(ulong.Parse(matiereId));
            formateurs = await DatabaseService.GetFormateursAsync();
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Erreur lors du chargement des informations : {ex.Message}");
            Navigation.NavigateTo("/formateurs/matieres");
        }
    }

    private async Task HandleEditMatiere()
    {
        try
        {
            await DatabaseService.UpdateMatiereAsync(matiereToEdit);
            Navigation.NavigateTo("/formateurs/matieres");
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Erreur lors de la mise à jour de la matière : {ex.Message}");
            // Vous pouvez ajouter ici un message d'erreur à afficher à l'utilisateur
        }
    }

    private void GoBack()
    {
        Navigation.NavigateTo("/formateurs/matieres");
    }
}
